In [2]:
import pandas as pd

In [4]:
pd.read_csv('../electa/followers-fake.csv').head()

         date  PSOE  PP  UpyD  Ciudadanos  Podemos  IU
0  2015-01-01    20  30    40          50       60  70
1  2015-01-02    21  32    43          54       65  76
2  2015-01-03    22  34    46          58       70  82
3  2015-01-04    23  36    49          62       75  88
4  2015-01-05    24  38    52          66       80  94